NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_recoleccion_residuos
DB_USER=root
DB_PASSWORD=

JWT_ACCESS_SECRET=clave_access_segura
JWT_REFRESH_SECRET=clave_refresh_segura
JWT_ACCESS_EXPIRES=30m
JWT_REFRESH_EXPIRES=30d

UPLOAD_PATH=uploads
MAX_FILE_SIZE=10485760

FRONTEND_URL=http://localhost:4200

GPS_MOVING_INTERVAL_SECONDS=15
GPS_STOPPED_INTERVAL_SECONDS=45


FIREBASE_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=